%h2 会員情報入力
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :ニックネーム
    %br/
    = f.text_field :nickname, autofocus: true
  .field
    = f.label :メールアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  - if @sns_id.present?
    = hidden_field_tag :sns_auth, true
  - else
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :お名前（全角）
    %br/
    = f.text_field :firstname
    = f.text_field :lastname
  .field
    = f.label :お名前カナ（全角）
    %br/
    = f.text_field :kana_firstname
    = f.text_field :kana_lastname
  .field
    = f.label :生年月日
    %br/
    = f.date_select :birthday, start_year: 1950, end_year: 2020
    %br/
    = f.submit "Next"