%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :お名前
    %br/
    = f.text_field :address_firstname
    %br/
    = f.text_field :address_lastname
  .field
    = f.label :お名前カナ
    %br/
    = f.text_field :address_kana_firstname
    %br/
    = f.text_field :address_kana_lastname
  .field
    = f.label :郵便番号
    %br/
    = f.text_field :zipcode
  .field
    = f.label :都道府県
    %br/
    = f.text_field :prefectures
  .field
    = f.label :市区町村
    %br/
    = f.text_field :municipalities
  .field
    = f.label :番地
    %br/
    = f.text_field :address
  .field
    = f.label :建物名
    %br/
    = f.text_field :building
  .field
    = f.label :電話
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"