.contents__items
  .contents__items__main-box 
    .contents__items__main-box__items-header
      %h3.contents__items__main-box__items-header__title ルイヴィトン新着アイテム
      %a.contents__items__main-box__items-header__button{href: "#"} もっと見る &gt;
    %ul.contents__items__main-box__items
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
      %li.contents__items__main-box__items__list
        %a.contents__items__main-box__items__list__link{href: "#"}
          .contents__items__main-box__items__list__link__box
            .contents__items__main-box__items__list__link__box__img-box
              = image_tag "/louis-vitton.jpg"
              .contents__items__main-box__items__list__link__box__img-box__price-box
                %span ¥1,200
            .contents__items__main-box__items__list__link__box__desc-box
              %span バッグ
