.all
    .all__header
        = image_tag  "/fmarket_logo_red.svg", class:"header-picture"
          
    .all__main
        .all__main__contents

            .all__main__contents__top 購入内容の確認
                
            .all__main__contents__products
                .all__main__contents__products__item-box
                    .all__main__contents__products__item-box__image
                        - @item.images.each do |image|
                            = image_tag image.src.url
                    .all__main__contents__products__item-box__detail-box
                        .all__main__contents__products__item-box__detail-box__name
                            = @item.name
                        .all__main__contents__products__item-box__detail-box__price
                            = @item.price

            .all__main__contents__buy-box
                .all__main__contents__buy-box__price
                    .all__main__contents__buy-box__price__top
                        .all__main__contents__buy-box__price__top__left
                            支払い金額
                        .all__main__contents__buy-box__price__top__right
                            = @item.price
                    .all__main__contents__buy-box__price__bottom
                        .all__main__contents__buy-box__price__bottom__left
                            %input{type:"checkbox"}
                        .all__main__contents__buy-box__price__bottom__right
                            ポイントを使用(所持ポイント:P1111)
                .all__main__contents__buy-box__method
                    .all__main__contents__buy-box__method__left
                        .all__main__contents__buy-box__method__left__top
                            支払い方法
                        .all__main__contents__buy-box__method__left__bottom
                            クレジットカード
                            %br/
                            ************4242
                            %br/
                            有効期限12/22
                            %br/
                            = image_tag  "/master-card.png"
                    .all__main__contents__buy-box__method__right
                        = link_to '' "変更する"
                .all__main__contents__buy-box__delivery
                    .all__main__contents__buy-box__delivery__left
                        .all__main__contents__buy-box__delivery__left__send1
                            配送先
                        .all__main__contents__buy-box__delivery__left__send2
                            山田 太郎
                            %br/
                            福岡県福岡市中央区天神1-1-1
                            %br/
                    .all__main__contents__buy-box__delivery__right
                        = link_to '' "変更する"
                .all__main__contents__buy-box__bottom-box
                    = form_with url: item_purchase_path do
                        :plain
                            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_88716dc008ba0057ca54c66a"></script>
                            


    .all__footer
        .all__footer__texts
            = link_to '' "プライバシーポリシー"
            = link_to '' "メルカリ利用規約"
            = link_to '' "特定商取引に関する表記"
        = image_tag  "/logo_gray.svg", class:"all__footer__picture"
