= render partial: 'header'
.contents
  = render partial: 'contents-header'
  = render partial: 'new-item'
  = render partial: 'ladies', locals: { item: @items }
  = render partial: 'mens', locals: { item: @items }
  = render partial: 'electronics', locals: { item: @items }
  = render partial: 'brands', locals: { item: @items }
  = render partial: 'chanel', locals: { item: @items }
  = render partial: 'louis-vitton', locals: { item: @items }
  = render partial: 'supreme', locals: { item: @items }
  = render partial: 'nike', locals: { item: @items }
  = render partial: 'contents-footer'
  = render partial: 'sell'
= render partial: 'footer'



