= render partial: 'header'
.contents
  = render partial: 'contents-header'
  = render partial: 'new-item'
  = render partial: 'ladies'
  = render partial: 'mens'
  = render partial: 'electronics'
  = render partial: 'contents-footer'
  = render partial: 'sell'
= render partial: 'footer'



