= render partial: './items/header'
.product
  .product__item
    %h1.product__item__name バッグ
    .product__item__main
      .product__item__main__photo
        = image_tag "/319531408.jpg", style: "opacity: 1;"
        .product__item__main__photo__bottom
          = image_tag "/h-i289.jpg"
          = image_tag "/vuitton2.jpg"
          = image_tag "/vuitton3.jpeg"

      .product__item__main__detail
        .product__item__main__detail__tbody
          .product__item__main__detail__tbody__tr
            .product__item__main__detail__tbody__tr__th 出品者
            .product__item__main__detail__tbody__tr__td
              .product__item__main__detail__tbody__tr__td__name 太郎
              .product__item__main__detail__tbody__tr__td__icon
                .product__item__main__detail__tbody__tr__td__icon__rating
                  %i.product__item__main__detail__tbody__tr__td__icon__rating.fas.fa-laugh
                  %span 36
                .product__item__main__detail__tbody__tr__td__icon__rating
                  %i.product__item__main__detail__tbody__tr__td__icon__rating.fas.fa-meh
                  %span 0
                .product__item__main__detail__tbody__tr__td__icon__rating
                  %i.product__item__main__detail__tbody__tr__td__icon__rating.fas.fa-frown
                  %span 0


              
          .product__item__main__detail__tbody__tr-2
            .product__item__main__detail__tbody__tr-2__th カテゴリー
            .product__item__main__detail__tbody__tr-2__td レディース
          .product__item__main__detail__tbody__tr-3
            .product__item__main__detail__tbody__tr-3__th ブランド
            .product__item__main__detail__tbody__tr-3__td ヴィトン
          .product__item__main__detail__tbody__tr-4
            .product__item__main__detail__tbody__tr-4__th 商品の状態
            .product__item__main__detail__tbody__tr-4__td 目立った傷や汚れなし
          .product__item__main__detail__tbody__tr-5
            .product__item__main__detail__tbody__tr-5__th 配送料の負担
            .product__item__main__detail__tbody__tr-5__td 送料込み(出品者負担)
          .product__item__main__detail__tbody__tr-6
            .product__item__main__detail__tbody__tr-6__th 配送の方法
            .product__item__main__detail__tbody__tr-6__td らくらくメルカリ便
          .product__item__main__detail__tbody__tr-7
            .product__item__main__detail__tbody__tr-7__th 配送元地域
            .product__item__main__detail__tbody__tr-7__td 福岡県
          .product__item__main__detail__tbody__tr-8
            .product__item__main__detail__tbody__tr-8__th 発送日の目安
            .product__item__main__detail__tbody__tr-8__td 4日~7日で発送

    .product__item__price-box
      %span.product__item__price-box__price ¥1,200
      %span.product__item__price-box__tax (税込)
      %span.product__item__price-box__shipping-fee 送料込み
    = link_to buys_path do
      .product__item__buy-btn
        購入画面に進む

    .product__item__description
      %p.product__item__description__inner
        2000円→1200円にお値下げいたします。
        %br
        %br
        定番のバッグで、大きさもしっかりあり、マザーズバッグやビジネスバッグになるかと思います。
        %br
        %br
        革特有のシワ感が少しありますが、リペアクリーニング済みのため目立った傷スレ汚れはないかと思います。作りがしっかりしてますので、まだまだデイリーに使えるかと思います。
        %br
        %br
        used品のためご理解頂ける方にお譲り致します。

    .product__item__text-box
      .product__item__text-box__left
        %button.product__item__text-box__left__like{type: "button"}
          %i.product__item__text-box__left__like.far.fa-heart
            %span いいね!
            %span 0
        .product__item__text-box__left__report
          %i.product__item__text-box__left__report.far.fa-flag
            %span 不適切な商品の報告
      .product__item__text-box__right
        %i.product__item__text-box__right.fas.fa-lock
        %span あんしん・あんぜんへの取り組み



  .product__detail-message
    .product__detail-message__box
      .product__detail-message__box__content
        %form.product__detail-message__box__content__message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.product__detail-message__box__content__message-form__textarea{type: "text"}
          %button.product__detail-message__box__content__message-form__btn-gray{type: "submit"}
            %span コメントする 

  .product__nav-item
    .product__nav-item__box
      .product__nav-item__box__link
        ブルゾン
        .product__nav-item__box__link.fas.fa-angle-left
  
      .product__nav-item__box__link-2
        ワンピース
        .product__nav-item__box__link-2.fas.fa-angle-right

  .product__media
    .product__media__box
      %i.product__media__box__.fab.fa-facebook-square
      %i.product__media__box__.fab.fa-twitter-square
      %i.product__media__box__.fab.fa-pinterest-square

  .product__image
    .product__image__box
      %h2.product__image__box__head
        太郎さんのその他の出品
      .product__image__box__content
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/16088508301_main.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name ダウンジャケット
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥5,000
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/buruzon.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name ブルゾン
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥4,000
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/kardigan.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name カーディガン
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥3,000
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/gpants.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name gパン
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥3,500
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/torainer.jpeg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name トレーナー
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥5,500
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/tshats.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name tシャツ
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥2,000

    .product__image__box
      %h2.product__image__box__head ヴィトンのバッグその他の商品
      .product__image__box__content
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/vuiton.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name ヴィトン バッグ
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥5,000
        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/vuitton.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name vuitton
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥６,000

        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/louis.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name louis vuitton
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥7,000

        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/vuitton hand.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name louis vuitton ハンドバッグ
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥8,000

        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/vuitton1.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name louis vuitton ハンドバッグ 限定
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥8,500

        = link_to "#" do
          .product__image__box__content__box
            %figure.product__image__box__content__box__photo
              = image_tag "/vuitton pop.jpg",width:"220px",height:"220px"
            .product__image__box__content__box__body
              %h3.product__image__box__content__box__body__name louis vuitton ハンドバッグ pop
              .product__image__box__content__box__body__num
                .product__image__box__content__box__body__num__price ¥9,500
= render partial: './items/footer'