.edit-box
  .edit-box__content 
    %h2.edit-box__content__profile__head プロフィール
    %form{action: "https://www.mercari.com/jp/mypage/profile/", method: "post"}
      .edit-box__content__profile__head__icon
        = image_tag "/yFfb0oqs.jpg", class: 'edit-box__content__profile__head__icon__image'
        %input.edit-box__content__profile__head__icon__input-box{placeholder: "例)太郎", type: "text"}/
      .edit-box__content__profile__head__setting
        %textarea.edit-box__content__profile__head__setting__textarea-box{placeholder: "例)こんにちは！ご覧いただきありがとうございます！古着や雑貨などを中心に出品しています。ご質問などがありましたらお気軽にどうぞ！"}
        %button.edit-box__content__profile__head__setting__btn.btn-red{type: "submit"} 変更する
 


  .edit-box__side-bar
    .edit-box__side-bar__mypage-nav
      %ul.mypage-box
        = link_to "#" do
          %li
            マイページ
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            お知らせ
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            やることリスト
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            いいね！一覧
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            出品する
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            出品した商品 - 出品中
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            出品した商品 - 取引中
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            出品した商品 - 売却済み
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            購入した商品 - 取引中
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            購入した商品 - 過去の取引
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            ニュース一覧
            %i.fas.fa-chevron-right
        %a{href: "#"}
          %li
            評価一覧
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            ガイド
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            お問い合わせ
            %i.fas.fa-chevron-right
      %h3.mypage-head
        メルペイ
      %ul.mypage-box
        = link_to "#" do
          %li
            残高・振込申請
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            ポイント
            %i.fas.fa-chevron-right
      %h3.mypage-head
        設定
      %ul.mypage-box
        = link_to "#" do
          %li
            プロフィール
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            発送元・お届け先住所変更
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            支払い方法
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            メール/パスワード
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            本人情報
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            電話番号の確認
            %i.fas.fa-chevron-right
        = link_to "#" do
          %li
            ログアウト
            %i.fas.fa-chevron-right
